<% if (siteConfig.newsletter?.revueUsername && !siteConfig.newsletter.showTwitterBanner) { %>
    <section id="mc_embed_signup" class="mar-tb-7">
        <div class="mc-title-container">
            <span class="mc-title-container__main">Subscribe for the Newsletter</span>
            <span class="mc-title-container__sub">Join <%- siteConfig.newsletter?.currentCount; %>+ subscribers</span>
        </div>
        <form
                class="mc-form"
                action="https://www.getrevue.co/profile/<%- siteConfig.newsletter?.revueUsername; %>/add_subscriber"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                target="_blank"
                novalidate=""
        >
            <input class="mc-form__email" type="email" value="" name="member[email]" id="mce-EMAIL"
                   placeholder="Enter your email"
                   spellcheck="false">
            <button class="mc-form__button" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
        </form>
    </section>
<% } else if (siteConfig.newsletter.showTwitterBanner) { %>
    <section id="mc_embed_signup" class="mar-tb-7 twitter-signup">
        <div class="mc-title-container"></div>

        <p class="mar-0 twitter-signup-text">👋 <a href="http://twitter.com/<%- siteConfig.social?.twitter; %>"
                                                   target="_blank">Follow me on
                twitter</a> for the updates. </p>
    </section>
<% } %>
