<section id="mc_embed_signup" class="mar-tb-7 twitter-signup =twitterBanner=">
    <div class="mc-title-container"></div>

    <p class="mar-0 twitter-signup-text">👋 <a href="http://twitter.com/=twitter=" target="_blank">Follow me on
        twitter</a> for the updates. </p>
</section>
